In [1]:
import pandas as pd
df=pd.read_excel("//home//rguktrkvalley//Documents//E2//S2//DSP_LAB//Marks.xlsx")
print(df)

         NAME   AGE    WT   DSP  TOTAL
0        raju   NaN  30.0  34.0     64
1       surya  24.0  23.0  23.0     46
2       kiran  23.0   NaN  29.0     63
3         sam  35.0  23.0  40.0     63
4      sreenu  22.0  29.0   NaN     64
5        ajay  76.0  40.0  37.0     77
6       vijay  27.0  35.0  35.0     70
7     prabhas   NaN  37.0  29.0     66
8       bunny  28.0  37.0  26.0     63
9     anushka  25.0  36.0  24.0     60
10       pspk  37.0  35.0  23.0     58
11     mahesh  34.0  29.0  29.0     58
12        ntr  32.0  33.0  40.0     66
13  ramcharan  31.0  24.0  34.0     58
14        ntr  32.0  33.0  40.0     66
15       ntr   32.0  26.0  40.0     66
16    sreenu   45.0  67.0   NaN     23
17      kiran  23.0  34.0  29.0     63

In [13]:
print(df.max())
print(df.max(axis=0))
print(df.min(axis=0))
print(df["WT"].sum())

NAME     vijay
AGE       76.0
WT        67.0
DSP       40.0
TOTAL       77
dtype: object
NAME     vijay
AGE       76.0
WT        67.0
DSP       40.0
TOTAL       77
dtype: object
NAME     ajay
AGE      22.0
WT       23.0
DSP      23.0
TOTAL      23
dtype: object
571.0

In [15]:
print(df.count())

NAME     18
AGE      16
WT       17
DSP      16
TOTAL    18
dtype: int64

In [17]:
print(df.count(axis=1))

0     4
1     5
2     4
3     5
4     4
5     5
6     5
7     4
8     5
9     5
10    5
11    5
12    5
13    5
14    5
15    5
16    4
17    5
dtype: int64

In [27]:
print(df["WT"].mean())

print(df["WT"].median())
print(df["WT"].mode())
print(df["WT"].var())

33.588235294117645
33.0
0    23.0
1    29.0
2    33.0
3    35.0
4    37.0
Name: WT, dtype: float64
101.25735294117646

In [35]:
#data formatting 
#dropna,fillna,
print(df.dtypes)

NAME      object
AGE      float64
WT       float64
DSP      float64
TOTAL      int64
dtype: object

In [37]:
df["WT"]=df["WT"].astype('float')
print(df)

         NAME   AGE    WT   DSP  TOTAL
0        raju   NaN  30.0  34.0     64
1       surya  24.0  23.0  23.0     46
2       kiran  23.0   NaN  29.0     63
3         sam  35.0  23.0  40.0     63
4      sreenu  22.0  29.0   NaN     64
5        ajay  76.0  40.0  37.0     77
6       vijay  27.0  35.0  35.0     70
7     prabhas   NaN  37.0  29.0     66
8       bunny  28.0  37.0  26.0     63
9     anushka  25.0  36.0  24.0     60
10       pspk  37.0  35.0  23.0     58
11     mahesh  34.0  29.0  29.0     58
12        ntr  32.0  33.0  40.0     66
13  ramcharan  31.0  24.0  34.0     58
14        ntr  32.0  33.0  40.0     66
15       ntr   32.0  26.0  40.0     66
16    sreenu   45.0  67.0   NaN     23
17      kiran  23.0  34.0  29.0     63

In [39]:
#renaming columns
print(df.rename({"WT":"wt"},axis="columns"))

         NAME   AGE    wt   DSP  TOTAL
0        raju   NaN  30.0  34.0     64
1       surya  24.0  23.0  23.0     46
2       kiran  23.0   NaN  29.0     63
3         sam  35.0  23.0  40.0     63
4      sreenu  22.0  29.0   NaN     64
5        ajay  76.0  40.0  37.0     77
6       vijay  27.0  35.0  35.0     70
7     prabhas   NaN  37.0  29.0     66
8       bunny  28.0  37.0  26.0     63
9     anushka  25.0  36.0  24.0     60
10       pspk  37.0  35.0  23.0     58
11     mahesh  34.0  29.0  29.0     58
12        ntr  32.0  33.0  40.0     66
13  ramcharan  31.0  24.0  34.0     58
14        ntr  32.0  33.0  40.0     66
15       ntr   32.0  26.0  40.0     66
16    sreenu   45.0  67.0   NaN     23
17      kiran  23.0  34.0  29.0     63

In [43]:
print(df.sort_values(by="WT"))

         NAME   AGE    WT   DSP  TOTAL
1       surya  24.0  23.0  23.0     46
3         sam  35.0  23.0  40.0     63
13  ramcharan  31.0  24.0  34.0     58
15       ntr   32.0  26.0  40.0     66
4      sreenu  22.0  29.0   NaN     64
11     mahesh  34.0  29.0  29.0     58
0        raju   NaN  30.0  34.0     64
14        ntr  32.0  33.0  40.0     66
12        ntr  32.0  33.0  40.0     66
17      kiran  23.0  34.0  29.0     63
6       vijay  27.0  35.0  35.0     70
10       pspk  37.0  35.0  23.0     58
9     anushka  25.0  36.0  24.0     60
8       bunny  28.0  37.0  26.0     63
7     prabhas   NaN  37.0  29.0     66
5        ajay  76.0  40.0  37.0     77
16    sreenu   45.0  67.0   NaN     23
2       kiran  23.0   NaN  29.0     63

In [45]:
print(df.rename({0:"sub1",1:"at2",2:"at3"},axis="index"))

           NAME   AGE    WT   DSP  TOTAL
sub1       raju   NaN  30.0  34.0     64
at2       surya  24.0  23.0  23.0     46
at3       kiran  23.0   NaN  29.0     63
3           sam  35.0  23.0  40.0     63
4        sreenu  22.0  29.0   NaN     64
5          ajay  76.0  40.0  37.0     77
6         vijay  27.0  35.0  35.0     70
7       prabhas   NaN  37.0  29.0     66
8         bunny  28.0  37.0  26.0     63
9       anushka  25.0  36.0  24.0     60
10         pspk  37.0  35.0  23.0     58
11       mahesh  34.0  29.0  29.0     58
12          ntr  32.0  33.0  40.0     66
13    ramcharan  31.0  24.0  34.0     58
14          ntr  32.0  33.0  40.0     66
15         ntr   32.0  26.0  40.0     66
16      sreenu   45.0  67.0   NaN     23
17        kiran  23.0  34.0  29.0     63

In [49]:
#reorder columns
print(df[["DSP","WT"]])

     DSP    WT
0   34.0  30.0
1   23.0  23.0
2   29.0   NaN
3   40.0  23.0
4    NaN  29.0
5   37.0  40.0
6   35.0  35.0
7   29.0  37.0
8   26.0  37.0
9   24.0  36.0
10  23.0  35.0
11  29.0  29.0
12  40.0  33.0
13  34.0  24.0
14  40.0  33.0
15  40.0  26.0
16   NaN  67.0
17  29.0  34.0

In [51]:
#reorder rows
print(df.iloc[[1,0,2]])

    NAME   AGE    WT   DSP  TOTAL
1  surya  24.0  23.0  23.0     46
0   raju   NaN  30.0  34.0     64
2  kiran  23.0   NaN  29.0     63

In [54]:
#anova
import scipy.stats as stats
g1=[68,72,65,74,71]
g2=[60,65,68,63,70]
g3=[75,78,82,79,85]
f_stat,p_value=stats.f_oneway(g1,g2,g3)
print(f_stat)
print(p_value)

19.361305361305373
0.00017533874076185296

In [58]:
if p_value < 0.05:
    print("Reject tje null hypothesis")
else:
    print("Fail to reject null hypothesis")

Reject tje null hypothesis