In [1]:
print("sanju")

sanju

In [5]:
tuple1=tuple([1,2,3,4])
print(tuple1)
print(tuple1)

(1, 2, 3, 4)
(1, 2, 3, 4)

In [13]:
set1=set([1,2,3,5,5,78,456])
print(set1)
for i in set1:
    print(i," ")
print("\n")
print(1 in set1)

{1, 2, 3, 5, 456, 78}
1
2
3
5
456
78


True

In [19]:
dic={1:"apple",2:"banana",3:"orange",4:"mango",5:[1,2,3,4]}
print(dic)
print(dic[2])
print(dic.get(4))

{1: 'apple', 2: 'banana', 3: 'orange', 4: 'mango', 5: [1, 2, 3, 4]}
banana
mango

In [25]:
name=input("enter name:")
print("Hello, "+name)
num=int(input("enter number:"))
print(num)
print(f'Hello {name} ! How are you')

enter name: geetha

Hello, geetha

enter number: 4

4
Hello geetha ! How are you

In [27]:
10 is True

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/tmp/ipykernel_739504/3920928710.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  10 is True

False

In [33]:
l1=[1,2,3,4,5,6,8]
l1.reverse()
print(l1)
l1.sort()
print(l1)

[8, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 8]

In [37]:
def even(x):
    if(x%2==0):
        print(x," is even")
    else:
        print(x," is odd")
even(6)

6  is even

In [39]:
class Phone:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def set_name(self,name):
        self.name=name;
    def show_name(self):
        return self.name;
p1=Phone('geetha',20)
print(p1.show_name())

geetha

In [41]:
import re
string = "Python is high level language"
x = re.search("high",string)
print(x)
if(x):
    print("Found")
else:
    print("Not found")

<re.Match object; span=(10, 14), match='high'>
Found

In [43]:
print(x.start())
print(x.end())

10
14

In [59]:
y=re.findall('i',string)
print(y)
y=re.match('Python',string)
print(y)

['i', 'i']
<re.Match object; span=(0, 6), match='Python'>

In [63]:
string = "Python is high level language"
string1 = "Python"
x = re.fullmatch('Python',string)
y = re.fullmatch('Python',string1)
if x:
    print("Found")
else:
    print("Not match")
if y:
    print("Found")
else:
    print("Not match")

Not match
Found

In [67]:
x=re.search('a.g',string)
print(x)

<re.Match object; span=(22, 25), match='ang'>