In [5]:
import pandas as pd
s1=pd.Series([1,2,3,4,5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
#changing index
s2=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(s2)
s2=pd.Series({'a':10,'b':20,'c':30})
print(s2)
print(s2['a':])
print(s2['a'])
print(s2+5)

a    1
b    2
c    3
d    4
dtype: int64
a    10
b    20
c    30
dtype: int64
a    10
b    20
c    30
dtype: int64
10
a    15
b    25
c    35
dtype: int64

In [27]:
#dataframe
df=pd.DataFrame({'Name':["Bob",'Sam','rani','prav','vasavi','pinky','seetha'],"Marks":[76,25,10,20,40,67,78]})
print(df)

     Name  Marks
0     Bob     76
1     Sam     25
2    rani     10
3    prav     20
4  vasavi     40
5   pinky     67
6  seetha     78

In [29]:
print(df.head())

     Name  Marks
0     Bob     76
1     Sam     25
2    rani     10
3    prav     20
4  vasavi     40

In [33]:
print(df.describe())
print(df.tail())

           Marks
count   7.000000
mean   45.142857
std    28.310355
min    10.000000
25%    22.500000
50%    40.000000
75%    71.500000
max    78.000000
     Name  Marks
2    rani     10
3    prav     20
4  vasavi     40
5   pinky     67
6  seetha     78

In [39]:
print(pd.__version__)

2.2.2

In [51]:
l=[("abc",10,8.92),("def",11,79.3),("klm",12,65.4)]
print(l)
df=pd.DataFrame(l)
print(df)

[('abc', 10, 8.92), ('def', 11, 79.3), ('klm', 12, 65.4)]
     0   1      2
0  abc  10   8.92
1  def  11  79.30
2  klm  12  65.40

In [49]:
#dataset
import pandas as pd
d=pd.read_csv("/home/rguktrkvalley/Documents/E2/S2/DSP_LAB/dataframe.csv")
df=pd.DataFrame(d)
print(df)

   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
0      S00001   24    Male             3.58              Arts
1      S00002   21   Other             2.52               Law
2      S00003   28  Female             3.42          Medicine
3      S00004   25    Male             2.43  Computer Science
4      S00005   22    Male             2.08       Engineering
..        ...  ...     ...              ...               ...
94     S00095   26  Female             3.58          Business
95     S00096   29   Other             3.41       Mathematics
96     S00097   29  Female             3.18  Computer Science
97     S00098   29  Female             2.90               Law
98     S00099   26    Male             3.72       Engineering

[99 rows x 5 columns]

In [65]:
#dataset
import pandas as pd
d=pd.read_csv("/home/rguktrkvalley/Documents/E2/S2/DSP_LAB/dataframe.csv")
df=pd.DataFrame(d)
print(df)
print(df.head(7))
print(df.tail(3))
print(df[1:10:2])

   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
0      S00001   24    Male             3.58              Arts
1      S00002   21   Other             2.52               Law
2      S00003   28  Female             3.42          Medicine
3      S00004   25    Male             2.43  Computer Science
4      S00005   22    Male             2.08       Engineering
..        ...  ...     ...              ...               ...
94     S00095   26  Female             3.58          Business
95     S00096   29   Other             3.41       Mathematics
96     S00097   29  Female             3.18  Computer Science
97     S00098   29  Female             2.90               Law
98     S00099   26    Male             3.72       Engineering

[99 rows x 5 columns]
  Student_ID  Age  Gender  High_School_GPA    Field_of_Study
0     S00001   24    Male             3.58              Arts
1     S00002   21   Other             2.52               Law
2     S00003   28  Female             3.42          Medicine
3     S00004   25    Male             2.43  Computer Science
4     S00005   22    Male             2.08       Engineering
5     S00006   24    Male             2.40               Law
6     S00007   27    Male             2.36  Computer Science
   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
96     S00097   29  Female             3.18  Computer Science
97     S00098   29  Female             2.90               Law
98     S00099   26    Male             3.72       Engineering
  Student_ID  Age Gender  High_School_GPA    Field_of_Study
1     S00002   21  Other             2.52               Law
3     S00004   25   Male             2.43  Computer Science
5     S00006   24   Male             2.40               Law
7     S00008   20   Male             2.68  Computer Science
9     S00010   28   Male             3.02  Computer Science

In [73]:
print(df[["Student_ID","Age"]])
print(df["Gender"])
print(df[["Student_ID","Age"]][1:10:2])
print(df.iterrows())

   Student_ID  Age
0      S00001   24
1      S00002   21
2      S00003   28
3      S00004   25
4      S00005   22
..        ...  ...
94     S00095   26
95     S00096   29
96     S00097   29
97     S00098   29
98     S00099   26

[99 rows x 2 columns]
0       Male
1      Other
2     Female
3       Male
4       Male
       ...
94    Female
95     Other
96    Female
97    Female
98      Male
Name: Gender, Length: 99, dtype: object
  Student_ID  Age
1     S00002   21
3     S00004   25
5     S00006   24
7     S00008   20
9     S00010   28
<generator object DataFrame.iterrows at 0x7fe595376680>

In [77]:
#loc
print(df.loc[1])
print(df.loc[1,["Student_ID","Age"]])

Student_ID         S00002
Age                    21
Gender              Other
High_School_GPA      2.52
Field_of_Study        Law
Name: 1, dtype: object
Student_ID    S00002
Age               21
Name: 1, dtype: object

In [85]:
print(df.loc[1:10])
print(df.loc[1:10:2,"Student_ID"])
print(df.loc[1:10:2,["Student_ID","Age","Gender"]])
print(df.loc[1:10:2,"Student_ID":"High_School_GPA"])

   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
1      S00002   21   Other             2.52               Law
2      S00003   28  Female             3.42          Medicine
3      S00004   25    Male             2.43  Computer Science
4      S00005   22    Male             2.08       Engineering
5      S00006   24    Male             2.40               Law
6      S00007   27    Male             2.36  Computer Science
7      S00008   20    Male             2.68  Computer Science
8      S00009   24    Male             2.84          Business
9      S00010   28    Male             3.02  Computer Science
10     S00011   28  Female             2.95       Mathematics
1    S00002
3    S00004
5    S00006
7    S00008
9    S00010
Name: Student_ID, dtype: object
  Student_ID  Age Gender
1     S00002   21  Other
3     S00004   25   Male
5     S00006   24   Male
7     S00008   20   Male
9     S00010   28   Male
  Student_ID  Age Gender  High_School_GPA
1     S00002   21  Other             2.52
3     S00004   25   Male             2.43
5     S00006   24   Male             2.40
7     S00008   20   Male             2.68
9     S00010   28   Male             3.02

In [99]:
#iloc
print(df.iloc[0:10]) #10 is not included
print(df.iloc[1:4,0:4])
print(df.iloc[1:10,0]) #range and col_index

  Student_ID  Age  Gender  High_School_GPA    Field_of_Study
0     S00001   24    Male             3.58              Arts
1     S00002   21   Other             2.52               Law
2     S00003   28  Female             3.42          Medicine
3     S00004   25    Male             2.43  Computer Science
4     S00005   22    Male             2.08       Engineering
5     S00006   24    Male             2.40               Law
6     S00007   27    Male             2.36  Computer Science
7     S00008   20    Male             2.68  Computer Science
8     S00009   24    Male             2.84          Business
9     S00010   28    Male             3.02  Computer Science
  Student_ID  Age  Gender  High_School_GPA
1     S00002   21   Other             2.52
2     S00003   28  Female             3.42
3     S00004   25    Male             2.43
1    S00002
2    S00003
3    S00004
4    S00005
5    S00006
6    S00007
7    S00008
8    S00009
9    S00010
Name: Student_ID, dtype: object

In [103]:
print(df.iloc[:,[0,1,2,3]])
#we can get only specified rows ,cols with range also

   Student_ID  Age  Gender  High_School_GPA
0      S00001   24    Male             3.58
1      S00002   21   Other             2.52
2      S00003   28  Female             3.42
3      S00004   25    Male             2.43
4      S00005   22    Male             2.08
..        ...  ...     ...              ...
94     S00095   26  Female             3.58
95     S00096   29   Other             3.41
96     S00097   29  Female             3.18
97     S00098   29  Female             2.90
98     S00099   26    Male             3.72

[99 rows x 4 columns]

In [111]:
#sorting
print(df.sort_values("Age"))
print(df.sort_values("Age",ascending=False))

print(df.sort_values(["Age","Gender"]))
print(df.sort_values(["Age","Gender"],ascending=[0,1]))

   Student_ID  Age  Gender  High_School_GPA Field_of_Study
32     S00033   18    Male             3.61    Engineering
67     S00068   18    Male             3.58    Mathematics
26     S00027   18  Female             2.25           Arts
69     S00070   19  Female             2.23            Law
23     S00024   19  Female             2.88       Medicine
..        ...  ...     ...              ...            ...
61     S00062   29    Male             2.27    Engineering
36     S00037   29  Female             3.88    Engineering
64     S00065   29  Female             3.03    Engineering
80     S00081   29    Male             3.03       Medicine
21     S00022   29    Male             3.39       Business

[99 rows x 5 columns]
   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
80     S00081   29    Male             3.03          Medicine
86     S00087   29    Male             3.95              Arts
61     S00062   29    Male             2.27       Engineering
62     S00063   29  Female             2.47  Computer Science
64     S00065   29  Female             3.03       Engineering
..        ...  ...     ...              ...               ...
59     S00060   19  Female             2.32          Business
50     S00051   19    Male             3.66  Computer Science
32     S00033   18    Male             3.61       Engineering
67     S00068   18    Male             3.58       Mathematics
26     S00027   18  Female             2.25              Arts

[99 rows x 5 columns]
   Student_ID  Age  Gender  High_School_GPA Field_of_Study
26     S00027   18  Female             2.25           Arts
32     S00033   18    Male             3.61    Engineering
67     S00068   18    Male             3.58    Mathematics
19     S00020   19  Female             2.99    Mathematics
23     S00024   19  Female             2.88       Medicine
..        ...  ...     ...              ...            ...
21     S00022   29    Male             3.39       Business
61     S00062   29    Male             2.27    Engineering
80     S00081   29    Male             3.03       Medicine
86     S00087   29    Male             3.95           Arts
95     S00096   29   Other             3.41    Mathematics

[99 rows x 5 columns]
   Student_ID  Age  Gender  High_School_GPA Field_of_Study
24     S00025   29  Female             2.13    Engineering
27     S00028   29  Female             3.81    Engineering
30     S00031   29  Female             3.49    Engineering
36     S00037   29  Female             3.88    Engineering
37     S00038   29  Female             2.97           Arts
..        ...  ...     ...              ...            ...
81     S00082   19    Male             2.34    Mathematics
90     S00091   19    Male             3.21       Medicine
26     S00027   18  Female             2.25           Arts
32     S00033   18    Male             3.61    Engineering
67     S00068   18    Male             3.58    Mathematics

[99 rows x 5 columns]

In [113]:
#adding col
df['total']=67
print(df)

   Student_ID  Age  Gender  High_School_GPA    Field_of_Study  total
0      S00001   24    Male             3.58              Arts     67
1      S00002   21   Other             2.52               Law     67
2      S00003   28  Female             3.42          Medicine     67
3      S00004   25    Male             2.43  Computer Science     67
4      S00005   22    Male             2.08       Engineering     67
..        ...  ...     ...              ...               ...    ...
94     S00095   26  Female             3.58          Business     67
95     S00096   29   Other             3.41       Mathematics     67
96     S00097   29  Female             3.18  Computer Science     67
97     S00098   29  Female             2.90               Law     67
98     S00099   26    Male             3.72       Engineering     67

[99 rows x 6 columns]

In [127]:
#to know whether there are duplicates present or not
#dataset
import pandas as pd
d=pd.read_csv("/home/rguktrkvalley/Documents/E2/S2/DSP_LAB/dataframe.xlsx")
df=pd.DataFrame(d)
print(df.duplicated())

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [123]:
df.drop_duplicates()  #to remove duplicates temporarily
print(df)
df.drop_duplicates(inplace=True) #permanently
print(df)

   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
0      S00001   24    Male             3.58              Arts
1      S00002   21   Other             2.52               Law
2      S00003   28  Female             3.42          Medicine
3      S00004   25    Male             2.43  Computer Science
4      S00005   22    Male             2.08       Engineering
..        ...  ...     ...              ...               ...
56     S00013   22  Female             2.06       Engineering
57     S00014   21    Male             3.21              Arts
58     S00015   25    Male             2.79          Business
59     S00016   25  Female             2.60  Computer Science
60     S00017   20  Female             3.73               Law

[61 rows x 5 columns]
   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
0      S00001   24    Male             3.58              Arts
1      S00002   21   Other             2.52               Law
2      S00003   28  Female             3.42          Medicine
3      S00004   25    Male             2.43  Computer Science
4      S00005   22    Male             2.08       Engineering
5      S00006   24    Male             2.40               Law
6      S00007   27    Male             2.36  Computer Science
7      S00008   20    Male             2.68  Computer Science
8      S00009   24    Male             2.84          Business
9      S00010   28    Male             3.02  Computer Science
10     S00011   28  Female             2.95       Mathematics
11     S00012   25  Female             2.54               Law
12     S00013   22  Female             2.06       Engineering
13     S00014   21    Male             3.21              Arts
14     S00015   25    Male             2.79          Business
15     S00016   25  Female             2.60  Computer Science
16     S00017   20  Female             3.73               Law
17     S00018   23    Male             3.49       Mathematics
18     S00019   22  Female             3.72       Mathematics
19     S00020   19  Female             2.99       Mathematics
20     S00021   25  Female             2.26          Medicine
21     S00022   29    Male             3.39          Business
22     S00023   23  Female             2.41       Engineering
23     S00024   19  Female             2.88          Medicine
24     S00025   29  Female             2.13       Engineering
25     S00026   22  Female             3.65          Medicine
26     S00027   18  Female             2.25              Arts
27     S00028   29  Female             3.81       Engineering
28     S00029   27    Male             3.73          Medicine
29     S00030   23  Female             2.93       Mathematics
30     S00031   29  Female             3.49       Engineering
31     S00032   26  Female             3.24          Business
32     S00033   18    Male             3.61       Engineering
33     S00034   28    Male             2.86               Law
34     S00035   28  Female             3.57       Engineering
35     S00036   27  Female             2.92          Medicine
36     S00037   29  Female             3.88       Engineering
37     S00038   29  Female             2.97              Arts
38     S00039   20  Female             2.93  Computer Science
39     S00040   29  Female             3.57          Business
40     S00041   24  Female             3.64               Law
41     S00042   21  Female             3.11       Mathematics
42     S00043   26  Female             2.36          Medicine
43     S00044   20    Male             2.94       Mathematics
44     S00045   22    Male             3.94       Mathematics
45     S00046   20  Female             3.51       Engineering
46     S00047   24    Male             3.62       Engineering
47     S00048   22    Male             2.07       Engineering

In [13]:
#Handling missing data
import pandas as pd
d=pd.read_csv("/home/rguktrkvalley/Documents/E2/S2/DSP_LAB/dataframe_missing.csv")
df=pd.DataFrame(d)
print(df[1:20])

#fill with default value
df["Gender"].fillna(60)
print(df[1:20])


df.dropna()
print(df[1:20])
df.dropna(inplace=True)
print(df[1:20])


#fill with default value
df["Gender"].fillna(60)
print(df[1:20])

   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
1      S00002   21   Other             2.52               Law
2      S00003   28  Female             3.42          Medicine
3      S00004   25    Male             2.43  Computer Science
4      S00005   22    Male             2.08       Engineering
5      S00006   24    Male             2.40               Law
6      S00007   27    Male             2.36  Computer Science
7      S00008   20    Male              NaN  Computer Science
8      S00009   24    Male             2.84          Business
9      S00010   28    Male             3.02  Computer Science
10     S00011   28  Female             2.95       Mathematics
11     S00012   25  Female             2.54               Law
12     S00013   22  Female             2.06       Engineering
13     S00014   21    Male             3.21              Arts
14     S00015   25    Male             2.79          Business
15     S00016   25  Female             2.60  Computer Science
16     S00017   20  Female             3.73               Law
17     S00018   23     NaN             3.49       Mathematics
18     S00019   22  Female             3.72       Mathematics
19     S00020   19  Female             2.99       Mathematics
   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
1      S00002   21   Other             2.52               Law
2      S00003   28  Female             3.42          Medicine
3      S00004   25    Male             2.43  Computer Science
4      S00005   22    Male             2.08       Engineering
5      S00006   24    Male             2.40               Law
6      S00007   27    Male             2.36  Computer Science
7      S00008   20    Male              NaN  Computer Science
8      S00009   24    Male             2.84          Business
9      S00010   28    Male             3.02  Computer Science
10     S00011   28  Female             2.95       Mathematics
11     S00012   25  Female             2.54               Law
12     S00013   22  Female             2.06       Engineering
13     S00014   21    Male             3.21              Arts
14     S00015   25    Male             2.79          Business
15     S00016   25  Female             2.60  Computer Science
16     S00017   20  Female             3.73               Law
17     S00018   23     NaN             3.49       Mathematics
18     S00019   22  Female             3.72       Mathematics
19     S00020   19  Female             2.99       Mathematics
   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
1      S00002   21   Other             2.52               Law
2      S00003   28  Female             3.42          Medicine
3      S00004   25    Male             2.43  Computer Science
4      S00005   22    Male             2.08       Engineering
5      S00006   24    Male             2.40               Law
6      S00007   27    Male             2.36  Computer Science
7      S00008   20    Male              NaN  Computer Science
8      S00009   24    Male             2.84          Business
9      S00010   28    Male             3.02  Computer Science
10     S00011   28  Female             2.95       Mathematics
11     S00012   25  Female             2.54               Law
12     S00013   22  Female             2.06       Engineering
13     S00014   21    Male             3.21              Arts
14     S00015   25    Male             2.79          Business
15     S00016   25  Female             2.60  Computer Science
16     S00017   20  Female             3.73               Law
17     S00018   23     NaN             3.49       Mathematics
18     S00019   22  Female             3.72       Mathematics
19     S00020   19  Female             2.99       Mathematics
   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
1      S00002   21   Other             2.52               Law
2      S00003   28  Female             3.42          Medicine
3      S00004   25    Male             2.43  Computer Science
4      S00005   22    Male             2.08       Engineering
5      S00006   24    Male             2.40               Law
6      S00007   27    Male             2.36  Computer Science
8      S00009   24    Male             2.84          Business
9      S00010   28    Male             3.02  Computer Science
10     S00011   28  Female             2.95       Mathematics
11     S00012   25  Female             2.54               Law
12     S00013   22  Female             2.06       Engineering
13     S00014   21    Male             3.21              Arts
14     S00015   25    Male             2.79          Business
15     S00016   25  Female             2.60  Computer Science
16     S00017   20  Female             3.73               Law
18     S00019   22  Female             3.72       Mathematics
19     S00020   19  Female             2.99       Mathematics
20     S00021   25  Female             2.26          Medicine
21     S00022   29    Male             3.39          Business
   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
1      S00002   21   Other             2.52               Law
2      S00003   28  Female             3.42          Medicine
3      S00004   25    Male             2.43  Computer Science
4      S00005   22    Male             2.08       Engineering
5      S00006   24    Male             2.40               Law
6      S00007   27    Male             2.36  Computer Science
8      S00009   24    Male             2.84          Business
9      S00010   28    Male             3.02  Computer Science
10     S00011   28  Female             2.95       Mathematics
11     S00012   25  Female             2.54               Law
12     S00013   22  Female             2.06       Engineering
13     S00014   21    Male             3.21              Arts
14     S00015   25    Male             2.79          Business
15     S00016   25  Female             2.60  Computer Science
16     S00017   20  Female             3.73               Law
18     S00019   22  Female             3.72       Mathematics
19     S00020   19  Female             2.99       Mathematics
20     S00021   25  Female             2.26          Medicine
21     S00022   29    Male             3.39          Business

In [23]:
#data filtering 
print(df.loc[df["Age"]>22])
print(df.loc[(df["Age"]>22) & (df["Age"]<25)])

   Student_ID  Age  Gender  High_School_GPA    Field_of_Study
0      S00001   24    Male             3.58              Arts
2      S00003   28  Female             3.42          Medicine
3      S00004   25    Male             2.43  Computer Science
5      S00006   24    Male             2.40               Law
6      S00007   27    Male             2.36  Computer Science
8      S00009   24    Male             2.84          Business
9      S00010   28    Male             3.02  Computer Science
10     S00011   28  Female             2.95       Mathematics
11     S00012   25  Female             2.54               Law
14     S00015   25    Male             2.79          Business
15     S00016   25  Female             2.60  Computer Science
20     S00021   25  Female             2.26          Medicine
21     S00022   29    Male             3.39          Business
22     S00023   23  Female             2.41       Engineering
24     S00025   29  Female             2.13       Engineering
27     S00028   29  Female             3.81       Engineering
28     S00029   27    Male             3.73          Medicine
29     S00030   23  Female             2.93       Mathematics
30     S00031   29  Female             3.49       Engineering
31     S00032   26  Female             3.24          Business
33     S00034   28    Male             2.86               Law
34     S00035   28  Female             3.57       Engineering
35     S00036   27  Female             2.92          Medicine
36     S00037   29  Female             3.88       Engineering
37     S00038   29  Female             2.97              Arts
39     S00040   29  Female             3.57          Business
40     S00041   24  Female             3.64               Law
42     S00043   26  Female             2.36          Medicine
46     S00047   24    Male             3.62       Engineering
49     S00006   24    Male             2.40               Law
50     S00007   27    Male             2.36  Computer Science
52     S00009   24    Male             2.84          Business
53     S00010   28    Male             3.02  Computer Science
54     S00011   28  Female             2.95       Mathematics
55     S00012   25  Female             2.54               Law
58     S00015   25    Male             2.79          Business
59     S00016   25  Female             2.60  Computer Science
   Student_ID  Age  Gender  High_School_GPA Field_of_Study
0      S00001   24    Male             3.58           Arts
5      S00006   24    Male             2.40            Law
8      S00009   24    Male             2.84       Business
22     S00023   23  Female             2.41    Engineering
29     S00030   23  Female             2.93    Mathematics
40     S00041   24  Female             3.64            Law
46     S00047   24    Male             3.62    Engineering
49     S00006   24    Male             2.40            Law
52     S00009   24    Male             2.84       Business

In [19]:
print(df.loc[df["Field_of_Study"].str.contains("g")])
print(df.loc[df["Field_of_Study"].str.startswith("L")])

   Student_ID  Age  Gender  High_School_GPA Field_of_Study
4      S00005   22    Male             2.08    Engineering
12     S00013   22  Female             2.06    Engineering
22     S00023   23  Female             2.41    Engineering
24     S00025   29  Female             2.13    Engineering
27     S00028   29  Female             3.81    Engineering
30     S00031   29  Female             3.49    Engineering
32     S00033   18    Male             3.61    Engineering
34     S00035   28  Female             3.57    Engineering
36     S00037   29  Female             3.88    Engineering
45     S00046   20  Female             3.51    Engineering
46     S00047   24    Male             3.62    Engineering
47     S00048   22    Male             2.07    Engineering
48     S00005   22    Male             2.08    Engineering
56     S00013   22  Female             2.06    Engineering
   Student_ID  Age  Gender  High_School_GPA Field_of_Study
1      S00002   21   Other             2.52            Law
5      S00006   24    Male             2.40            Law
11     S00012   25  Female             2.54            Law
16     S00017   20  Female             3.73            Law
33     S00034   28    Male             2.86            Law
40     S00041   24  Female             3.64            Law
49     S00006   24    Male             2.40            Law
55     S00012   25  Female             2.54            Law
60     S00017   20  Female             3.73            Law